<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EX03.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EX03.Properties.Settings>
            <setting name="peso1" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="peso2" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="peso3" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="dollar" serializeAs="String">
                <value>1.06257</value>
            </setting>
            <setting name="libra" serializeAs="String">
                <value>0.85263</value>
            </setting>
            <setting name="lene" serializeAs="String">
                <value>117.8</value>
            </setting>
            <setting name="sek" serializeAs="String">
                <value>9.79447</value>
            </setting>
        </EX03.Properties.Settings>
    </userSettings>
</configuration>